*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

:root {
  --cell-gray: #e4e4e7;
  --cell-ship: #075985;
  --cell-ship-comp: #e11d48;
  --cell-ship-dark: #be123c;
  --cell-miss: #bae6fd;
  --gameOver-fs: clamp(1.5rem, 10vw, 10rem);
  --announceWinner-fs: clamp(1rem, 5vw, 4rem);
  --gameOver-gap: calc(var(--gameOver-fs) * 0.25);
  --restartGame-button-p: calc(var(--announceWinner-fs) * 0.125);
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
}

.gameOver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: var(--gameOver-gap);
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 1vmin 0 white;
  transform: translateY(-100%);
}

.gameOver.active {
  transition: transform 0.2s ease-in-out;
  transform: translateY(0%);
}

.gameOver > #gameOver-heading {
  color: var(--cell-ship-dark);
  font-size: var(--gameOver-fs);
  text-transform: uppercase;
}

.gameOver > #announceWinner {
  color: var(--cell-ship);
  font-size: var(--announceWinner-fs);
}

.gameOver > #restartGame {
  font-family: inherit;
  font-size: var(--announceWinner-fs);
  text-transform: uppercase;
  padding: var(--restartGame-button-p);
  background-color: black;
  color: white;
}

.gameOver > #restartGame:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

#Gameboards {
  width: 80%;
  height: 40rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Humanboard,
.Computerboard {
  border: 1px solid black;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.Humanboard > div,
.Computerboard > div {
  border: 1px solid black;
}

.Humanboard > .placed-ship {
  background-color: var(--cell-ship);
}

.Computerboard > .placed-ship {
  background-color: var(--cell-ship-comp);
}

.Computerboard > div:not(.placed-ship):hover {
  cursor: pointer;
  background-color: var(--cell-gray);
}

.Computerboard > .placed-ship:hover {
  cursor: pointer;
  background-color: var(--cell-ship-dark);
}

.Computerboard > .board-cell.ship-miss:hover {
  background-color: var(--cell-miss);
  cursor: not-allowed;
}

.Humanboard > .ship-hit {
  position: relative;
  background-color: white;
}

.Computerboard > .ship-hit {
  position: relative;
  background-color: white;
}

.cross {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: not-allowed;
}
.Computerboard .cross:before,
.Computerboard .cross:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: " ";
  height: 100%;
  width: 10%;
  background-color: var(--cell-ship-comp);
}

.Humanboard .cross:before,
.Humanboard .cross:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: " ";
  height: 100%;
  width: 10%;
  background-color: var(--cell-ship);
}

.cross:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.cross:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.ship-miss {
  background-color: var(--cell-miss);
}

@media screen and (max-width: 900px) {
  #Gameboards {
    flex-direction: column;
    justify-content: center;
  }
}
