*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

:root {
  --cell-gray: #e4e4e7;
  --cell-ship: #075985;
  --cell-ship-comp: #e11d48;
  --cell-ship-dark: #be123c;
  --cell-miss: #bae6fd;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
}

#Gameboards {
  width: 80%;
  height: 40rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Humanboard,
.Computerboard {
  border: 1px solid black;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.Humanboard > div,
.Computerboard > div {
  border: 1px solid black;
}

.Humanboard > .placed-ship {
  background-color: var(--cell-ship);
}

.Computerboard > .placed-ship {
  background-color: var(--cell-ship-comp);
}

.Computerboard > div:not(.placed-ship):hover {
  cursor: pointer;
  background-color: var(--cell-gray);
}

.Computerboard > .placed-ship:hover {
  cursor: pointer;
  background-color: var(--cell-ship-dark);
}

.Computerboard > .board-cell.ship-miss:hover {
  background-color: var(--cell-miss);
  cursor: not-allowed;
}

.Humanboard > .ship-hit {
  position: relative;
  background-color: white;
}

.Computerboard > .ship-hit {
  position: relative;
  background-color: white;
}

.cross {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: not-allowed;
}
.Computerboard .cross:before,
.Computerboard .cross:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: " ";
  height: 100%;
  width: 10%;
  background-color: var(--cell-ship-comp);
}

.Humanboard .cross:before,
.Humanboard .cross:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: " ";
  height: 100%;
  width: 10%;
  background-color: var(--cell-ship);
}

.cross:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.cross:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.ship-miss {
  background-color: var(--cell-miss);
}

@media screen and (max-width: 900px) {
  #Gameboards {
    flex-direction: column;
    justify-content: center;
  }
}
